<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- === Conexión a PostgreSQL === -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">jdbc:postgresql://ep-flat-fog-ac6vfa02-pooler.sa-east-1.aws.neon.tech:5432/hotelpremier?sslmode=require</property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_KsfwED41lrRA</property>

        <!-- === Dialecto específico de PostgreSQL === -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- === Mostrar las consultas SQL en consola === -->
<!--        <property name="hibernate.show_sql">true</property>-->
<!--        <property name="hibernate.format_sql">true</property>-->

        <!--  ESTA ES LA CLAVE -->
        <!-- "update" → crea las tablas si no existen y actualiza si cambian -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- OTRAS OPCIONES POSIBLES:
             validate → no crea ni modifica, solo valida
             create → crea desde cero en cada inicio (borra datos)
             create-drop → crea y elimina al cerrar
             none → desactiva totalmente -->

        <!-- === Mapeo de entidades === -->
        <mapping class="ar.utn.hotel.model.Persona"/>
        <mapping class="ar.utn.hotel.model.Direccion"/>
        <mapping class="ar.utn.hotel.model.Huesped"/>
        <mapping class="ar.utn.hotel.model.Habitacion"/>
        <mapping class="ar.utn.hotel.model.Reserva"/>
    </session-factory>
</hibernate-configuration>
